<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Survey</title>
</head>
<body>
	<div class="container">
		<div class="card mt-5">
			<div class="card-body">
				<h5>Please enter your name and pick the Sectors you are currently involved in.</h5>
				<form action="#" th:action="@{/}" th:object="${application}" method="post">
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" id="name" th:field="*{fullName}">
					</div>
					<div th:if="${#fields.hasErrors('fullName')}" class="alert alert-danger" role="alert">
						<span th:errors="*{fullName}"></span>
					</div>
					<div class="form-group">
						<label for="sectors">Sectors: </label>
						<select multiple class="form-control" size="80" id="sectors" th:field="*{sectors}">
							<th:block th:each="levelOne : ${sectorsList}">
								<option
										th:text="${levelOne.getName()}"
										th:value="${levelOne.getSectorId()}">
								</option>
								<th:block th:each="sectorr : ${levelOne.getChildren()}">
									<option
										th:text="'&nbsp;&nbsp;&nbsp;&nbsp;' + ${sectorr.getName()}"
										th:value="${sectorr.getSectorId()}">
									</option>
									<th:block th:each="sector2 : ${sectorr.getChildren()}">
										<option
											th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + ${sector2.getName()}"
											th:value="${sector2.getSectorId()}">
										</option>
										<option
											th:each="sector3 : ${sector2.getChildren()}"
											th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + ${sector3.getName()}"
											th:value="${sector3.getSectorId()}">
										</option>
									</th:block>
								</th:block>
							</th:block>
						</select>
					</div>
					<div th:if="${#fields.hasErrors('sectors')}" class="alert alert-danger" role="alert">
						<span th:errors="*{sectors}"></span>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="terms" th:field="*{terms}">
						<label class="form-check-label" for="terms">
							Agree to terms
						</label>
					</div>
					<div th:if="${#fields.hasErrors('terms')}" class="alert alert-danger" role="alert">
						<span th:errors="*{terms}"></span>
					</div>
					<input class="btn btn-primary" type="submit" value="Save">
				</form>
			</div>
		</div>
	</div>
</body>
</html>